.cool-gradient {
  background: linear-gradient(var(--gradient-top), var(--gradient-bottom));
  color: var(--widget-text-color);
}

.cool-gradient-top {
    background: linear-gradient(var(--gradient-top), var(--gradient-top));
    color: var(--gradient-top);
    padding: 0.25em;
    border-radius: 0.25em;
}

.cool-gradient-bottom {
    background: linear-gradient(var(--gradient-bottom), var(--gradient-bottom));
    color: var(--gradient-bottom);
    padding: 0.25em;
    border-radius: 0.25em;
}

.cool-gradient-text-bg {
    background: linear-gradient(var(--widget-text-color), var(--widget-text-color));
    color: var(--widget-text-color);
    padding: 0.25em;
    border-radius: 0.25em;
}