.center {
  box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 60ch;
  padding-left: 0.5em;
  padding-right: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
