.download-button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;

  min-width: 375px;
  border-radius: 0.25em;
  background-color: get-color("tertiary");
  color: #fff;
  border: 1px solid rgba(72, 159, 181, 0.25);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(255, 166, 43, 0.25);

  margin-top: 0.42em;

  //text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.download-button:active {
  transform: scale(0.98);
}

.download-button[data-state="reverse"] {
  background-color: get-color("primary");
}
