.link-bar {
  display: inline-flex;
  flex-direction: row;
  color: white;
}

.link-bar[data-state="reversed"] {
  margin-top: 0.5em;
  font-size: get-size("300");
  display: inline-flex;
  flex-direction: row-reverse;
}

.link-bar > a {
  padding: 0.5em;
  background-color: get-color("primary-dark");
  border-radius: 0.25em;
}
