.result_box {
  display: flex;
  flex-flow: row wrap;
}

.result_box a {
  color: white;
  text-decoration: underline;
}

.result_box > * + * {
  margin-bottom: 0.5em;
}

.bus_code {
  padding: 0.25em 0.5em 0.25em 0.5em;
  box-shadow: 0px 4px 4px rgba(130, 192, 204, 0.25);
  background-color: #489fb5;

  color: white;
  border-radius: 0.25em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.stop_name {
  padding: 0.25em 0.5em 0.25em 0.25em;
}
